In [1]:
# Importing Libraries
import pandas as pd
from time import time
from sqlalchemy import create_engine,Text
from ingestor import ParquetIngestor

In [30]:
# Creating postgres database engine
engine = create_engine('postgresql://data:data@localhost:5432/ny_taxis')
engine_2 = create_engine('postgresql://data:data@localhost:5433/airflow')
engine.connect()
engine_2.connect()

In [31]:
# Importing links to the taxi data
yellow_taxi_link = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet'
green_taxi_link = 'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-01.parquet'
for_hire_link = 'https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2022-01.parquet'
taxi_lookup_link = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv'

# Importing the taxi location codes into pandas
lookup_df = pd.read_csv(taxi_lookup_link)
lookup_df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [32]:
# Function to get Parquet(data files)
def get_parquet(link):
    df = pd.read_parquet(link)
    df.columns = df.columns.str.lower()
    return df

# Function to created table header
def create_header(df,table_name, db_connection):
    df.head(0).to_sql(table_name, con=db_connection, if_exists='replace')

# Function to ingest data into the postgres database
def ingest_chunk(df,table_name,chunk_size=100000):
    df_len = len(df)
    chunk_no = round(df_len/chunk_size)

    for idx in range(0,len(df),chunk_size):
        print('Starting data ingestion into the database')
        print(f'Ingesting chunk {round((idx+chunk_size)/chunk_size)} of {chunk_no}')
        start_time = time()

        ingest_df = df[idx:idx+chunk_size]
        ingest_df.to_sql(table_name,con=engine, if_exists='append')

        end_time = time()
        print(f'Data ingestion chunk {round((idx+chunk_size)/chunk_size)} of {chunk_no} ended')
        print(f'Time taken: {end_time-start_time:.2f}')

    return 'Ingestion completed'

In [51]:
# Ingesting Green Taxi
green_taxi_df = get_parquet(green_taxi_link)
green_ingestor = ParquetIngestor(engine,green_taxi_df)
green_ingestor.create_header('green_taxi')
green_ingestor.ingest_chunk('green_taxi')

Starting data ingestion into the database
Ingesting chunk 1 of 1
Data ingestion chunk 1 of 1 ended
Time taken: 7.51

'Ingestion completed'

In [12]:
 def run_ingestion(file, db_conn, table_name):
    ingestor = ParquetIngestor(file, db_conn, table_name)
    df = ingestor.create_dataframe()
    ingestor.ingest_chunk(df)
    ingestor.create_header(df)
    ingestor.ingest_chunk(df)

    print('Ingestion Complete')

In [ ]:
run_ingestion(taxi_lookup_link,engine,'taxi_zone')

In [ ]:
run_ingestion(for_hire_link,engine,'for_hire')

In [6]:
len(pd.read_parquet(for_hire_link))

1143691

In [13]:

query = """ SELECT * FROM yellow_taxi LIMIT 1000"""

In [20]:
conn = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
pd.read_sql_query(Text(query),con=conn.connect())

ObjectNotExecutableError: Not an executable object: Text(length=' SELECT * FROM yellow_taxi LIMIT 1000')